#warning{
  color: red;
  display: flex;
  justify-content: center;
  border: 3px solid red;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
}

form {
  display: flex;
  flex-direction: column;
}

textarea {
  height: 1.5em;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 3px solid #545149
}

div.button {
  font-family: 'Bungee', cursive;
  padding-top: 15px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

button {
  color: #FFFFFF;
  background-color: #4056a1;
  border: none;
}
